html, body { font-family: "Ratin Modern Roman"; height: 100%; margin: 0; display: flex; flex-direction: column; }
header { font-size: 0.9em; color: gray; margin-left: 1em; }
.proof { flex: 1; overflow-y: auto; padding: 1rem; border: 1px solid #ccc; }
.info-panel { height: 200px; border-top: 1px solid #aaa; padding: 0.5rem; }
.controls {}
.block { margin-left: 1rem; padding-left: 0.8rem; }
.block-header { display:flex; align-items:center; gap:0.5rem; cursor:pointer; }
.block-header:hover { background:#f7f7f7; }
.block-header.selected { background-color: #def !important; }
.block-content {}
.toggle { all: unset; width:1.2em; display:inline-block; background:none; border:none; cursor:pointer; color:#446; font-size:0.9em; text-align:center; }
.bullet { all: unset; display:inline-block; width:1.2em; text-align:center; color:#888; }
.keyword { color:#c41a16; margin-right:0.3rem; font-size: 1.0em; line-height: 2.0em; }
.identifier { color:#1e7f68; margin-right:0.4rem; font-size: 1.0em; line-height: 2.0em; }
.math { display: inline-block; height: 2.0em; vertical-align: middle; }
.math svg { display: inline; vertical-align: middle; height: 2.0em; }
.collapsed { display:none; }
